body {
    background-image: url('/src/assests/background_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.contactLinks {
    display: flex;
    justify-content: flex-end;
    padding-right: 30%;
    margin-top: 50px;  
}

.contactLinks a {
    margin-left: 15px;
    width: 75px;
    height: 60px;
    text-align: center;
    color: purple;
}

.centerContainer {
    background-color: lavenderblush;
    width: 60%;
    max-width: 800px; 
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: space-around;
    margin-top: 150px;
}
#mainTitle {
   font-family: "fantasy";
   font-size: 40px;
   margin-top: 50px;
   color: darkgreen;
   font-weight: bold;
}
#mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
}

#mainMenu button {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: darkgreen;
    color: lavenderblush;

}
#mainMenu button:hover {
    background-color: yellowgreen;
}

.volumeButtons {
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
    
}
.volumeButtons button {
    background-color: lavenderblush;
    color: purple;
}
