.quizModal {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid darkgreen;
    border-radius: 10px;
    z-index: 1;
    background-color: lavenderblush;
    width: 800px;
    height: 500px;
    max-width: 80%;
    padding: 20px;
}
.quizModal.active {
    transform: translate(-50%, -50%) scale(1);
}

.volumeButtons {
    margin-right: 15px;    
}
.volumeButtons button {
    background-color: lavenderblush;
    color: purple;
}

#questionText {
    font-size: 40px;
    font-family: "fantasy";
    color: darkgreen;
    font-weight: bold;
}

.optionButtons button {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: darkgreen;
    color: lavenderblush;
}
.optionButtons {
    display: flex;
}
.buttonLine button{
   margin: 15px;
}
.buttonLine button:hover {
    background-color: yellowgreen;
}
#nextQuestion, #submitQuiz {
    font-size: 25px;
    font-weight: bold;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    background-color: lavenderblush;
    color: darkgreen;
    border: 1px solid darkgreen;
    
}
.nextAndSubmit {
   margin: auto;
}